@import "./_mixins.scss";
@import "./_piaf.style.scss";
@import "./_plugins.scss";

/** your custom css code **/

// custom-global-scroll 
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 5px;
  }

  // overide-class
  .btn-empty {
    margin-bottom: 5px;
  }
  //custom_b-card
  .rounded .card {
    padding: 5px;
  }
  .card .card-body {
    padding: 0.75rem;
}
// custom-content
#app-content-full{
  overflow: hidden;
}
#app-container-map,#app-content-full {
    height: calc(100vh - 140px);
    margin: -25px -40px -20px -40px;
  
    @include respond-below(xl) {
      height: calc(100vh - 120px);
      margin: -25px -35px -15px -35px;
    }
  
    @include respond-below(lg) {
      height: calc(100vh - 110px);
      margin: -15px -25px -5px -25px;
    }
  
    @include respond-below(md) {
      height: calc(100vh - 110px);
    }
  
    @include respond-below(sm) {
      height: calc(100vh - 100px);
      margin: 0;
    }
  
    @include respond-below(xs) {
      height: calc(100vh - 100px);
    }
  }

// custom-tabs
.nav-tabs .nav-link {
    font-weight: 600;
}
.nav-tabs .nav-link.active::before{
    background: none;
}
.nav-tabs .nav-link.active{
    border-bottom: 1px solid #145388;
}

// custom-modal-header
.modal .modal-header,.modal  .modal-footer{
  padding: 0.75rem;
}